


.sidebar {
    background-color: #262830;
    max-width: 250px;
    height: 100%;
    grid-row: 1 / 3;
    padding: 0 1rem;
    text-decoration: none;

    .logo-container{
        text-decoration: none;
        .text-logo {
            color: #505969;
            text-align: center;
            margin: 2rem auto 4rem auto;
            font-size:2.2rem;
        }
        .text-logo:hover {
            color: white;
        }
    }

    .department-links {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        letter-spacing: 1px;
        
        .departments {
            color: #505969; 
        }
        a {
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            font-weight: 100;
        } 
        a:hover {
            background-color: #1997C6;
            border-radius: 5px;
        }

    }
    #about {
        
        text-decoration: none;
        color: white; 
        
        p{
            margin-top: 5rem;
            padding: 10px 15px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        :hover{
            background-color: #48bc8a;
            border-radius: 5px;
      }
    }

}
.mobile-header {
    display: none;
}   

@media (max-width: 800px) {

    .sidebar {
        z-index: 111;
        max-width: 100vw;
        min-width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        padding: 0;
        transform: translateY(-110%);
        transition: .4s ease-in;
        .logo-container{
            display: none;
        }
      
    }
  }
