.sidebar {
    background-color: #262830;
    width: 250px;
    height: 100%;
    grid-row: 1 / 3;
    padding: 0 1rem;

    .text-logo {
        color: #505969;
        text-align: center;
        margin: 2rem auto;;
        font-size:2.2rem;
    }
    .department-links {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        letter-spacing: 1px;
        
        .departments {
            color: #505969; 
        }
        a {
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            font-weight: 100;
        } 
        a:hover {
            background-color: #1997C6;
            border-radius: 5px;
        }
    }

}