* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin button-style {
    width: fit-content;
    padding: 5px 10px;
    background: transparent;
    border: 2px solid #0f8b06;
    color: #0f8b06;
    border-radius: 5px;
    font-size: 1rem;
    transition: .1s ease-in;
  
    &:hover {
      box-shadow: 0 0 5px #2bab52;
      color: white;
      background-color: #0f8b06;
      cursor: pointer;
    }
  }

.App {
    
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 1fr;
    background-color: #262830f1;
}

.content-wrapper {
    width: 100%;
    height: 100vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .preview {
        min-height: 20vh;
        max-height: 22vh;
        width: 100%;
        background-color: #262830;
        border-radius: 20px;
        box-shadow: 0 0 15px #515455;

        .qty-container {
            max-height: 100%;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            overflow-y: scroll;
            padding: 3rem auto 1rem auto;

            div {
                
            //    padding: 1rem;
                transform: translateY(40px);
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;

                img {
                    width: 50px;
                    border-radius: 50% ;

                }
            }
        }

 
        .create-form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 100%;
            // outline: 1px solid rgb(255, 255, 255);
            background-color: #284853;
            border-radius: 20px;
            h2{
                margin-top: -2rem;
                // transform: translateY(-30px);
                color: rgb(122, 185, 239);
            }
            form{
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative;
                padding: 2rem;
                width: 100%;
                text-align: center;
                div{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: .5rem;

                    select {
                        width: fit-content;
                        
                    }
                }
                input, select, textarea {
                    height: 30px;
                    margin: 5px 10px;
                    padding: 5px 10px;
                }
                textarea {
                    resize: none;
                    height: 5rem;
                    margin-top: 5px;
                    padding: 5px 10px;
                  }
                button {
                    // position: absolute;
                    @include button-style();
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 7%;
                    margin: 0 auto;
                }
            }
        }
        #form-toggle-btn {
            position: absolute;
            top: 27%;
            padding: 5px 10px;
            background: transparent;
            border: 2px solid #1997C6;
            color: #1997C6;
            border-radius: 5px;
            font-size: 1rem;
            transition: .1s ease-in;
        } 
        #form-toggle-btn:hover {
            box-shadow: 0 0 5px #7b8184;
            color: white;
            background-color: #1997C6;
            cursor: pointer;
        }
    }
    .content-container {
        height: 70%; 
        width:100%;
        background-color: #262830;
        border-radius: 20px;  
        box-shadow: 0 0 15px #515455;
        
        .item-container {
            // outline: 1px solid gold;
            width: 95%;
            margin: 1rem auto;
            line-height: 2rem;
            .table-name {
                padding-left: .5rem;
                text-align: left;
                padding-left: 25px;
                 a {
            
                        min-width: 100%;
                    
                    
                }
            }
            .table-name:hover{
                border-radius: 5px ;
                color: white;
                background-color: #4c5051;
            }

            th {
                // border: 1px solid white;
                padding: 5px;
                color: #6e7b91;
                
            }
    
            td {
               color: rgba(235, 235, 235, 0.699);
               text-align: center;
               font-weight: 100;
               a {
                 text-decoration: none;
                 color: inherit;
  
            }

            }


        }
}
}


.show-content-container {
    height: 70%; 
    width:100%;
    background-color: #262830;
    border-radius: 20px;  
    box-shadow: 0 0 15px #515455;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    img {
        max-width: 350px;
        max-height: 400px;
        object-fit: cover;

    }
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.5rem;
        font-size: 1.1rem;
        padding: 2rem 0 0 3rem;

    }
    .a-side {
        span{
            width: 100%;
            background-color: #65656525;
            color: rgba(255, 255, 255, 0.688);
            padding: 2px 10px;
        }
        .buttons-container {
            width: 100%;
            padding: 0;
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button {

                @include button-style(); 
                span {
                    background-color: transparent;
                }
         }
        }

    }
    .b-side {
        align-items: center;
        justify-content: space-between;
       

    }

    form {
        #delete {
            @include button-style();
            color: rgba(255, 0, 0, 0.899);
            border:2px solid red;
            margin-bottom: 1rem;
        }
        #delete:hover {
            background-color: red;
            color: white;
            box-shadow: 0 0 5px #ab312b;
        }
    }

    .update-form {
        position: absolute;
        width: 50%;
        min-height: 75%;
        background-color:#262830;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-size: 1.2rem;
        padding: 5rem;
        input, textarea {
            padding: 5px 10px;
            width: 100%;
        }
        button {
            @include button-style();
        }
    }
}

.qty-container::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  .qty-container::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  .qty-container::-webkit-scrollbar-thumb {
    background: #888;
  }
 